Header set Strict-Transport-Security "max-age=31536000" env=HTTPS
<FilesMatch "\.(?i:php)$">
<IfModule !mod_authz_core.c>
Order allow,deny
Deny from all
</IfModule>
<IfModule mod_authz_core.c>
Require all denied
</IfModule>
</FilesMatch>  
Options All -Indexes
RewriteEngine On
Header set Access-Control-Allow-Origin https://www.sgsolutionscr.com
RewriteEngine on
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
<files wp-config.php>
order allow,deny
deny from all
</files>
<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>
<Files xmlrpc.php>
order deny,allow
deny from all
</Files>


RewriteCond %{HTTP_REFERER} !^http://avenidaflores.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://avenidaflores.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://avenidaflores.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://avenidaflores.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://criscc19.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://criscc19.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://criscc19.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://criscc19.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://davidgonzalez.work/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://davidgonzalez.work$      [NC]
RewriteCond %{HTTP_REFERER} !^http://drulisesloria.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://drulisesloria.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://drulisesloria.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://drulisesloria.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ecofarmacr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ecofarmacr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ecofarmacr.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ecofarmacr.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://funerariaatenas.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://funerariaatenas.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://funerariaatenas.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://funerariaatenas.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hogarancianosatenas.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hogarancianosatenas.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hogarancianosatenas.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://hogarancianosatenas.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sgsolutionscr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sgsolutionscr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sgsolutionscr.com.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sgsolutionscr.com.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tecnoclimacr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tecnoclimacr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tecnoclimacr.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tecnoclimacr.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.avenidaflores.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.avenidaflores.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.avenidaflores.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.avenidaflores.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.criscc19.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.criscc19.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.criscc19.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.criscc19.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.davidgonzalez.work/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.davidgonzalez.work$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.drulisesloria.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.drulisesloria.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.drulisesloria.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.drulisesloria.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ecofarmacr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ecofarmacr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ecofarmacr.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ecofarmacr.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.funerariaatenas.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.funerariaatenas.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.funerariaatenas.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.funerariaatenas.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hogarancianosatenas.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hogarancianosatenas.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hogarancianosatenas.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.hogarancianosatenas.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sgsolutionscr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sgsolutionscr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sgsolutionscr.com.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sgsolutionscr.com.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tecnoclimacr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tecnoclimacr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tecnoclimacr.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tecnoclimacr.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://avenidaflores.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://avenidaflores.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://avenidaflores.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://avenidaflores.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://criscc19.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://criscc19.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://criscc19.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://criscc19.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://davidgonzalez.work/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://davidgonzalez.work$      [NC]
RewriteCond %{HTTP_REFERER} !^https://drulisesloria.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://drulisesloria.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://drulisesloria.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://drulisesloria.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ecofarmacr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ecofarmacr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ecofarmacr.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ecofarmacr.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://funerariaatenas.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://funerariaatenas.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://funerariaatenas.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://funerariaatenas.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hogarancianosatenas.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hogarancianosatenas.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hogarancianosatenas.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://hogarancianosatenas.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sgsolutionscr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sgsolutionscr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sgsolutionscr.com.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sgsolutionscr.com.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tecnoclimacr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tecnoclimacr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tecnoclimacr.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tecnoclimacr.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.avenidaflores.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.avenidaflores.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.avenidaflores.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.avenidaflores.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.criscc19.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.criscc19.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.criscc19.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.criscc19.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.davidgonzalez.work/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.davidgonzalez.work$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.drulisesloria.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.drulisesloria.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.drulisesloria.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.drulisesloria.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ecofarmacr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ecofarmacr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ecofarmacr.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ecofarmacr.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.funerariaatenas.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.funerariaatenas.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.funerariaatenas.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.funerariaatenas.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hogarancianosatenas.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hogarancianosatenas.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hogarancianosatenas.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.hogarancianosatenas.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sgsolutionscr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sgsolutionscr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sgsolutionscr.com.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sgsolutionscr.com.sg.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tecnoclimacr.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tecnoclimacr.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tecnoclimacr.sg.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tecnoclimacr.sg.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

